*{
  font-family:sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.transparent{
  opacity: 0.2;
}

.calc-body{
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(3, 43, 3);
  width:40vw;
  height:50vh;
  padding: 2vw;
  row-gap: 3vh;
  border-radius: 2vh;
}

.screen{
  position: relative;
  border-radius: 2vh 2vh 0 0;
  background-color: rgb(116, 197, 116);
  width: 100%;
  height: 40%;
  display: flex;
  padding: 1vw;
  flex-direction: column;
  overflow: hidden;
}

.screen .input{
  display: flex;
  flex-wrap: wrap;
}

.screen .input .curr-eq{
  display: inline-block;
}

.screen .input .cursor-bar{
  display:inline-block;
  background-color: blue;
  height: 1em;
  width:1em;
}

.clear-button{
  width:100%;
}

.buttons{
  display: grid;
  grid-template-columns: 8.5vw 8.5vw 8.5vw 10vw;
}

.buttons > *{
  height: 6vh;
}

.output{
  position: absolute;
  bottom: 0;
  left: 1vw;
  right: 1vw;
  text-align: right;
}